---
layout: page
title: Search
hide: true
---

<div class="search">
    <div id="search-results"></div>
    <p id="not-found" style="display: none">
        {{ site.theme_settings.str_search_no_results }}
    </p>
</div>


<script>
  window.store = {
    {% for post in site.posts %}
      "{{ post.url | slugify }}": {
        "title": "{{ post.title | xml_escape }}",
        "tags": "{{ post.tags | join: ', ' }}",
        "date": "{{ post.date | date: '%Y-%m-%d' }}",
        "author": "{{ post.author | xml_escape }}",
        "category": "{{ post.category | xml_escape }}",
        "content": {{ post.content | strip_html | strip_newlines | jsonify }},
        "url": "{{ site.baseurl }}/{{ post.url | xml_escape }}"
      }
      {% unless forloop.last %},{% endunless %}
    {% endfor %}
  };
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/lunr.js/2.3.6/lunr.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/search.js"></script>